@model IEnumerable<AdvancedBE.Models.Category>

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<h1 class="text-center">Categories</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Category</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td>@category.NameCategory</td>
                <td>@category.DescCategory</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@category.Id" class="btn btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@category.Id" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>